@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Fonts
$font-stack: 'Poppins', sans-serif;

// Colors
$white: #fff;
$black: #000;
$baby-blue: #A4D2DE;
$dark-blue: #35AECD;

// Size
$background-height: 80vh;

// Paddings
$overall-padding: 104px;